<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="file:///C:/Users/X541UJ/JQueryLeacture/static/js/jquery-3.3.1.min.js"></script>
	<script src="file:///C:/Users/X541UJ/JQueryLeacture/static/js/animation.js"></script>
</head>
<body>
	<h1>Animation 1</h1>
	<button id="d1" style="height: 100px; width: 100px;">b1</button>
	<button id="d2" style="height: 100px; width: 100px;">b2</button>
	<button id="d3" style="height: 100px; width: 100px;">b3</button><br>

	<h1>Animation 2</h1>
	<button id="btn1">Animate height</button>
	<button id="btn2">Reset height</button>

	<div id="box" style="background: pink; height:100px; width: 100px; margin: 6px;"></div>

</body>
</html>