<!DOCTYPE html>
<html>
<head>
	<title>Timetables</title>
	<script src="file:///C:/Users/X541UJ/JQueryLeacture/static/js/jquery-3.3.1.min.js"></script>
	<script src="file:///C:/Users/X541UJ/JQueryLeacture/static/js/hello.js"></script>
</head>
<body>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
	<div id= "continer"></div>
	<div id="countries">
		<div id="fr">
			<div>France</div>
				<img src="file:///C:/Users/X541UJ/JQueryLeacture/static/flags/fr.gif"/>
		</div>
		<div id="fi">
			<div>Finland</div>
				<img src="file:///C:/Users/X541UJ/JQueryLeacture/static/flags/fi.gif"/>
		</div>
	</div>
</body>
</html>
