<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="file:///C:/Users/X541UJ/JQueryLeacture/static/js/jquery-3.3.1.min.js"></script>
		<script src="file:///C:/Users/X541UJ/JQueryLeacture/static/js/hide_show.js"></script>
	<style type="text/css">
		#terms{
			display: none;
		}
		#whatarethey{
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div>
		<input type="checkbox">I agree to the terms and conditions</div>
		<div id="whatarethey">Show the terms and conditions</div>
		<div id="terms">Yada yada</div>
</body>
</html>