<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="file:///C:/Users/X541UJ/JQueryLeacture/static/js/jquery-3.3.1.min.js"></script>
	<script src="file:///C:/Users/X541UJ/JQueryLeacture/static/js/toggleclass.js"></script>
	<style>
		.h1
		{
			font-size: 120%;
			color: blue;
		}
	</style>
</head>
<body>
	<button style="height: 100px; width: 100px;"></button>
	<p> hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi 
	hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi
	hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi 
	hi hi hi hi hi hi hi hi </p>
</body>
</html>